<!DOCTYPE html>
<html lang="es">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <body>
        <div class="container">
            <header class="header">
                <nav class="navbar">
                    <div class="navbar-container">
                      <div class="logo">
                        <a routerLink="/inicio-usuario">
                          <span>CONTROL GASTOS</span>
                        </a>
                      </div>
                      <ul class="nav-links">
                      </ul>
                    </div>
                  </nav>
                  <div class="welcome-bar">
                    Listado Ingresos
                </div>
            </header>
            <main class="main-content">
                <div *ngIf="notificationMessage" class="notification">
                    {{ notificationMessage }} <i class="fas fa-check"></i>
                </div>
                <div class="floating-window">
                    <li class="left" *ngFor="let presupuesto of presupuestos">
                        <a>
                            Presupuesto actual: 
                            <span [ngClass]="{'text-red': presupuesto.PresupuestoActual < 0, 'text-green': presupuesto.PresupuestoActual >= 0}">
                                ${{ presupuesto.PresupuestoActual }}
                            </span>
                        </a>
                    </li>
                </div>
                <a routerLink="/ingresos/add" class="Btn">
                    <i class="fas fa-plus"></i> 
                    <div class="text">Agregar Ingreso</div>
                  </a>     
                <h1>Lista de Ingresos</h1>
                <div class="white-container">
                    <table class="expenses-table">
                        <thead>
                            <tr>
                                <th>Tipo de ingreso</th>
                                <th>Origen del ingreso</th>
                                <th>Categoría</th>
                                <th>Monto</th>
                                <th>Fecha de ingreso</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ingreso of ingresos">
                                <td>{{ ingreso.TipoIngreso }}</td>
                                <td>{{ ingreso.OrigenIngreso }}</td>
                                <td>{{ ingreso.Categoria }}</td>
                                <td>$ {{ ingreso.Monto }}</td>
                                <td>{{ ingreso.FechaIngreso | date}}</td>
                                <td>
                                    <button class="edit-button" (click)="editIngreso(ingreso.IdIngreso)"><i class="fas fa-edit"></i></button>
                                    <button class="delete-button" (click)="deleteIngreso(ingreso.IdIngreso)" ><i class="fas fa-trash-alt"></i></button>
                                </td>                            
                            </tr>
                        </tbody>
                    </table>
                </div>
            </main>          
        </div>
    </body>
</html>
