<!DOCTYPE html>
<html lang="es">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
  <div class="container">
    <header class="header">
      <div class="title">
        <h1>Soporte Técnico</h1>
      </div>
      <nav>
        <ul>
          <li class="left"><a routerLink="/inicio-usuario">Control de Gastos</a></li>
        </ul>
      </nav>
    </header>
    <main class="main-content">
      <h1>Soporte técnico</h1>
      <div class="white-container">
        <h2>¿Tienes alguna queja o sugerencia?</h2>
        <h3>Contactanos:</h3>
        <h4>Email: ruanoarmando54&#64;gmail.com</h4>
        <h4>Whatsapp: +52 4681386739</h4>
        <h4>Equipo de desarrollo de software.</h4>
        <div class="image-container">
          <img src="/assets/soporte-tecnico.jpeg" alt="">
        </div>
      </div>
    </main>
  </div>
</body>
</html>
