<!DOCTYPE html>
<html lang="es">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
  <div class="container">
    <header class="header">
      <nav class="navbar">
        <div class="navbar-container">
          <div class="logo">
            <a routerLink="/inicio-usuario">
              <span>CONTROL GASTOS</span>
            </a>
          </div>
          <ul class="nav-links">
          </ul>
        </div>
      </nav>
      <div class="welcome-bar">
        Resumen
    </div>
    </header>
    <main class="main-content">
      <h1>Resumen Gastos</h1>
      <div class="dropdown">
        <button class="button_descargar" (click)="createPdf()">Descargar PDF</button>
      </div> 
      <div class="white-container">      
        <table class="expenses-table">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Información</th>
              <th>Monto</th>
              <th>Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of resumen">
              <td>{{ item.type }}</td>
              <td>{{ item.Descripcion || item.OrigenIngreso || item.Producto }}</td>
              <td>$ {{ item.Monto }}</td>
              <td>{{ item.FechaTransaccion || item.FechaIngreso || item.FechaServicio | date }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</body>
</html>
