<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <nav class="navbar">
                <div class="navbar-container">
                    <div class="logo">
                        <a routerLink="/inicio-usuario">
                            <span>CONTROL GASTOS</span>
                        </a>
                    </div>
                    <ul class="nav-links">
                        <li><a routerLink="/resumen">Resumen</a></li>
                        <li><a routerLink="/home">Cerrar sesión</a></li>
                        <li><a routerLink="/usuario">Usuario</a></li>
                    </ul>
                </div>
            </nav>
            <div class="welcome-bar">
                Bienvenido
            </div>
            <div class="info-container">
                <div class="floating-window">
                    <li class="left" *ngFor="let presupuesto of presupuestos">
                        <a>
                            Presupuesto actual: 
                            <span [ngClass]="{'text-red': presupuesto.PresupuestoActual < 0, 'text-green': presupuesto.PresupuestoActual >= 0}">
                                ${{ presupuesto.PresupuestoActual }}
                            </span>
                        </a>
                    </li>
                </div>
            </div>                                                        
        </header>       
        <main class="main-content">
            <section class="gastos">
                <div class="card">
                    <div class="face front">
                        <img src="/assets/F1.jpg" alt="">
                        <h3>Gastos</h3>
                    </div>
                    <div class="face back">
                        <h2>Gasto</h2>
                        <p>Aquí puedes registrar y seguir todas las salidas de dinero.</p>
                        <div class="enlace">
                            <a routerLink="/gastos/list">Ver mis gastos...</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="face front">
                        <img src="/assets/F2.jpg" alt="">
                        <h3>Ingresos</h3>
                    </div>
                    <div class="face back">
                        <h2>Ingreso</h2>
                        <p>Registra todas las entradas de dinero.</p>
                        <div class="enlace">
                            <a routerLink="/ingresos/list">Ver ingresos...</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="face front">
                        <img src="/assets/F3.jpg" alt="">
                        <h3>Servicios</h3>
                    </div>
                    <div class="face back">
                        <h2>Servicio</h2>
                        <p>Administra todos los servicios que has contratado.</p>
                        <div class="enlace">
                            <a routerLink="/servicios/list">Ver mis servicios...</a>
                        </div>
                    </div>
                </div>
            </section>

            <section class="mapa">
                <google-map height="450px"
                            width="1000px"
                            [center]="center"
                            [zoom]="zoom"
                            (mapClick)="moveMap($event)"
                            (mapMousemove)="move($event)">
                </google-map>
                <button class="locate-button" (click)="recenterMap()">Mi ubicación</button>
                <div class="info-route">
                    <h3>Lugares visitados</h3>
                    <ul>
                        <li *ngFor="let lugar of lugaresVisitados">{{ lugar.ubicacion }} - {{ lugar.hora }}</li>
                    </ul>
                </div>
            </section>
        </main>
    </div>
</body>
</html>
